<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <!-- tables -->
    <add key = "TableDefinitions" value = "dbo.Reg_Change_Structure" />
    <add key = "JobLog" value = "dbo.Reg_Change_Job_Logs" />
    <add key = "FileLog" value = "dbo.Reg_Change_Extract_Tracker" />
    <add key = "ContentLog" value = "dbo.Reg_Change_Content" />
    
    <!-- directory controls -->
    <add key = "TransferProcessed" value = "false"/>
    <add key = "KeepXMLContent" value = "true"/>
    
    <!-- directories -->
    <add key = "ContainerDir" value = "test_files/" />
    <add key = "StartDir" value = "test_files/inflow_content/" />
    <add key = "EndDir" value = "test_files/regulation_content/" />
    <add key = "ProcessedDir" value = "test_files/processed_content/" />
    
    <!-- subscriptions -->
    <add key ="CFR" value = "c528100b-a50e-4ffc-8c8b-f3ebbfe25e52" />
    <add key ="PUC" value = "64632b65-fbc2-47ab-bf6c-136322eec66a" />
    <add key ="NCS" value = "e8331a8f-4d07-4166-a1e6-f3e2ed4aaaae" />
    <add key ="NSL" value = "2ca4e673-0bea-41a4-9908-cfad48dbff0a" />
    <add key ="NYCR" value = "82705e84-119a-425d-b13f-d86cd80a12c6" />
    <add key ="NYSL" value = "9a889fc7-5825-4062-b181-d432beb1b247" />
  </appSettings>
  
  <connectionStrings>   
    <add name = "ConnectionKey" 
      connectionString = "Data Source=GIRLSWHOCODE;Initial Catalog=LexisExtract;Integrated Security=true"
      providerName = "System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>